@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
@font-face {
    font-family:vishal;
    src: url(../public/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.ttf);
}

*{

    font-family: vishal;
}

.cmny-logo-animation-oejje:hover{
    transform: translateY(-50%);
 }
 .cmny-logo-animation-oejje{
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) ;
 }
 .text-content{
        /* mix-blend-mode:exclusion; */
        color:#df0707;
        font-weight: bold;
        font-weight: 900;
        font-size: 2.2vw;
    
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) ;
 }

.bg-eoio302{
    background:transparent;
    /* backdrop-filter: blur(20px); */
}
.heroSection-background{

  height:75vh;
  /* scale:0.9; */
  background-position: center;
  background-size: cover;
/* background-image: url("./assets/download.jpg"); */
  /* border-radius:30px; */
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
}
 
.hero-landing-page-image{
  position:fixed;
}
 
.nav-box{
    position:absolute ;
    position: fixed;
    z-index: 10000;
}
.overlay{
    position: absolute;
    background-image: linear-gradient(to left,rgba(27, 27, 27, 0.905),transparent);
    top: 0%;
    right: 0%;
    width: 75%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 38;
}
.overlay2{
    position: absolute;
    background-image: linear-gradient(to top,rgb(0, 0, 0),transparent);
    top: 60%;
    right: 0;
    width: 100%;
    height: 20%;
    /* background-color: rgba(0, 0, 0, 1); */
    z-index: 350;
}
.cmn-call-to-action-btn{
    
   
    position: relative;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    z-index: 80;
    /* backdrop-filter: blur(30px); */
    background-color: rgba(247, 247, 247, 0.293);
    width:40%;
    text-transform: capitalize;
}
.cmn-call-to-action-btn:hover{
  transform: scale(1.05);
  background-color: rgba(247, 247, 247, 0.400);
}
 
 .cmn-call-2{
  width:3rem;
  border-radius: 8px;
     font-size: 2.3rem ;
     color:rgb(255, 255, 255);
     background-color: #ffffff79;
     font-weight: 300;
     cursor:pointer;
  
 }
 
.main-search-box{
    /* background: transparent; */
    /* -webkit-backdrop-filter: blur(100px); */
    position: relative;
z-index: 90;
    background-color: rgba(79, 77, 77, 0.396);
    backdrop-filter: blur(30px);
    width:22vw;
    height:2.8rem;
    border:none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    border:solid #757575 1px;
    mix-blend-mode: difference;
}
.main-search-box::placeholder{
    mix-blend-mode: difference;
    color:rgba(255, 255, 255, 0.76);
}
 /* body::-webkit-scrollbar{
  display: none;
 } */
 
 
.acv{
     color:#df0707
}

.nonacv{
    color:white;
}
 
 
 .movieCardImg{
    width:15rem; 
    height:17rem ;
    overflow: hidden ;
    border-radius: 20px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
 }


 /* .continuToWatchMovie{
  backdrop-filter:blur(30px)
 } */
/*  
 body{
    background-color: #000000;; */
    /* background-color:transparent;
    backdrop-filter:blur(30px) */
 body{
  background-color: #000; }
.movie-card-box{
     /* background-color: rgba(5, 5, 5, 0.607); */
     transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    backdrop-filter: blur(70px);
    border:solid 0.00009px rgba(160, 160, 160, 0.258);
    cursor: pointer;
}
.movie-card-box:hover{
    background-color: rgba(89, 87, 89, 0.322);
}
/* .imdbsvg{
     fill:rgb(240, 162, 17);
     width:40px;
} */
.imdbstar{
    color:rgb(255, 221, 0);
}
.movie-grid{
    overflow: auto;;

}
.movie-grid::-webkit-scrollbar{
    display:none;
}
.gen{
  border:solid 0.008px rgba(89, 88, 88, 0.368);
  background-color:rgba(73, 73, 73, 0.323);
}
body::-webkit-scrollbar{
display: none;
}
.vishal{
 width:14rem;
 /* aspect-ratio: 1; */
 height: 8rem;
}
.cont-movie-card{
  /* width:18rem; */


    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    /* border-bottom:solid 1px #df0707a7; */
}
.img-cont{
    /* border-bottom: solid 2px #df0707; */
    width:100%;
    height:100%;
}
*::selection{
    user-select: none;
}
.contToWatch::-webkit-scrollbar{
display: none;
}



.greeting-Box{
    width:23%;
     backdrop-filter: blur(30px);
     height: 14rem;
     /* background-color: #fff; */
     background-image: linear-gradient(#0c0f29,#66304bb1);

}




.greeting-Box h1{
    font-size: 2.3rem;
    text-transform: lowercase;
    font-weight: 900;
    color:rgba(255, 255, 255, 0.999);
}







.descr{
  & p{
    font-size: 0.7rem;
  }
}


 







.srcoller {
    /* margin-top: 7vw; */
    white-space: nowrap;
    overflow: auto;
    
  }
  .scrooler-con{
    /* display: inline-block; */
    /* white-space: nowrap; */
    animation-name: mover;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .scrooler-con h1{
    display:inline-block;
    font-size: 8.6vw;
    text-transform: uppercase;
    /* white-space: no; */
  }
  .gola{
    display: inline-block;
    width:4vw;
    height:4vw;
    margin:auto 2rem;
    margin-bottom: 1rem;
    border-radius:50%;
    background-color:#FE3E0E;
  }
  .srcoller::-webkit-scrollbar{
    display: none;
  }
  @keyframes mover {
    0%{
      transform: translateX(0);
    }
    100%{
      transform:translateX(-100%)
    }
  }
  .cont {
    position: relative;
  }

  .plan-movie-box{
    width:25rem;
    height:15rem;

  }
  .plan-movie-box img{
    width:100%;
    height: 100%;
  }



  .plan-overlay2   {
    background-image: linear-gradient(to left,rgb(0, 0, 0) ,transparent);
   }
   .plan-overlay1{
    background-image: linear-gradient(to right,rgb(0, 0, 0) ,transparent);

   }
   .overlayText{
    left:14%;
    top:30%;    
   }
   .overlayText P{
    color:rgba(255, 255, 255, 0.77); 
    font-size: 4vw;
    font-weight: 800;
    text-align: center;
   }
   .overlayText h1{
    font-size: 6vw;
  /* text-transform: lowercase; */
     color:rgba(255, 255, 255, 0.751);
    font-weight: 700;
   }

   .overlayText h1 span{
    color:#ed1515db;
   }
   

   .description{
    right:-10%;
   }

   .points{
    border-radius: 50%;
    width:9px;
    height: 9px;
    background-color: white;
    /* text-align:center; */
    display: flex;
    justify-content: center;align-items: center;

   }
   .rated-home-hero{
    background-color: rgba(255, 255, 255, 0.214);
    padding: 3px;
    border-radius: 8px;
   }


   .overlay{
    height:75vh;
    /* background-color: blue; */
   }



 .overlay-01{
  position: absolute;
  width: 100%;
  height:15%;
  top:65%;
  background-image: linear-gradient(to top,rgb(0, 0, 0) 30%,transparent);
   
 }
 .overlay-02{
  position: absolute;
  width:50%;
  height:80%;
  /* background-color: blue; */
  right:0%;
  background-image: linear-gradient(to left,rgb(0, 0, 0) 30%,transparent);
 }












   .hero-image-section{
    height: 75vh;
    overflow: hidden;
    & img{
      z-index: -20;
       
    }
   }


   /* navbarfadeOUTanimation */
      /* .changeTheBackground{
        background:linear-gradient(to top,black 100%,transparent);
        /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s; */
      /* } */ */
   .nav-box{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 10s;
   }
   /* navbarfadeOUTanimation */
   /* .blackOut{
    /* background:linear-gradient(to top,black 30%,transparent); */
     /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;  */
 

   .makeRound{
    border:solid 2px white;;
   }



   
   /* hero description slider  */

   .animateOnChange{
        animation-name: anime-hero-1;
        animation-duration: 0.4s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        animation-delay: 0.3s;
        /* animation-iteration-count: infinite; */
   }

    @keyframes anime-hero-1 {
        0% {
            transform: translateY(2%);
            opacity: 0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
   /* hero description slider  */


  /* trendingPageDesign */
       .trendingNumber{
               font-size:7rem;
               position:absolute;
               font-weight:900;
               z-index: 4;
               color:rgb(215, 215, 215);


              text-shadow: 2px  4px rgba(235, 8, 8, 0.536);
     }
     .trending-count{
      position: absolute;
      top:70%;
      /* right:-3%; */
      left:-13%;
     }
          


     .trending-movie-grid::-webkit-scrollbar{
       display: none;
     }
     /* .img-ovelay{
       width:100%;
       height:100%;
       background-color: #b70606;
     } */
  /* trendingPageDesign */



  .vishal{
    width:12rem
  }
  


  .img-cont{
    border-radius: 5px;
    
  }



  .glassmor{
    backdrop-filter:blur(50px)

  }

  .movie-box-movie-grid{
   height:19rem;
    width:12.87rem;
    & img{
      height:20rem;
    }
    object-fit: cover;
  }

  
  .loading{
    background-color: #363535;
  }

 .eijw323{
  overflow-y:hidden;
  /* transform:translateX(-20%) */
  transition:all linear 2s;

 }

 .oei9342{
  & .i1{
    top: 55%;
    right:0%;
    z-index:100;
    /* color:blue; */
    
  }
  & .i2{
    top: 55%;
    left:0%;
    z-index:100;
    /* color:pink; */
  }
   & i:hover{
    font-size:2rem;
   }
   & i{
    transition:all linear 0.2s;
   }
   
 }

/* .kdowei{
   /* transform:translateX(-50%)  */
 
   .box-shadow{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     */
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   }


   .trendingImage-cont{
    object-fit:cover;
    height:20rem;
    & img{
      object-fit:cover;
    }
   }